version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: bank-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysqldata:/var/lib/mysql
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  backend:
    image: ghcr.io/batuhanyldrm/bank-system:latest
    container_name: bank-backend
    restart: unless-stopped
    env_file:
      - /opt/bank-system.env
    ports:
      - "8080:8080"
    depends_on:
      - mysql

volumes:
  mysqldata:
